{{ partial "header.html" . }}

<div class="container-fluid jumbo">


<div class="">
	<div class="col-md-4 logo"><img src="/images/gopheracademy-logo-mid.png" width="200" alt="" /></div>
  <div class="col-md-7 moto"></br>
  <span class="verybig">#golang - Dedicated to the Go community.</span></br>
<div class="prettybig">Gopher Academy is a community driven organization dedicated to the education of Go developers and the promotion of the Go programming language.</div>
  </div>
</div>

</div>




<div class="container-fluid">
	<div class="col-md-6 boxy">
    <h3>From Our Blog</h3></br>

    {{ range first 5 .Data.Pages }}
            <a href="{{ .Permalink }}" class="article-title">{{ .Title }}</a>

            <div id="dat">

		        <p class="meta">By
            <script type="text/javascript">
             var arr = [];
             {{range .Params.author }} 
             arr.push({{ . }})
             {{ end }}
             document.write(arr.join(" & "));
             </script>
             on&nbsp;<i class="fa fa-calendar-o"></i> {{ .Date.Format  "2006-01-02" }}</p>

            </div>

		
      {{ end }}

    </div>

    <div class="col-md-6 boxy2">
    	<h3>Go Resources</h3></br>
    		<a href="http://golang.org" class="resources">golang.org</a></br>
    		<a href="http://golang.org/doc/" class="resources">Go Documentation</a></br>
    		<a href="http://tour.golang.org/#1" class="resources">A Tour of Go</a></br>
			<a href="http://golang.org/doc/code.html" class="resources">How To Write Go Code</a></br>
    		<a href="http://golang.org/doc/effective_go.html" class="resources">Effective Go</a></br>
    </div>


    <div class="col-md-6 boxy2">
    	<h3>Join Us On Slack</h3></br>

    </div>

</div>
</br>

<div class="container-fluid">
	<div class="col-md-6 boxy3">
    <p>Bacon ipsum dolor amet sausage turkey tongue, spare ribs swine drumstick fatback kielbasa ham pork picanha tri-tip bresaola filet mignon. Corned beef meatball alcatra sausage rump pork biltong boudin tongue porchetta brisket. Ground round ham hock venison turkey bresaola pork belly short ribs meatball pancetta landjaeger fatback strip steak. Strip steak pancetta cow chuck. Doner landjaeger strip steak rump fatback. Tenderloin flank pancetta, tri-tip meatball short loin frankfurter cow beef ribs pork loin drumstick prosciutto andouille shankle ham.</h3></br>
    </p>
</div>
</div>

<div class="container-fluid">
	<div class="col-md-6 boxy3">
    <p>Bacon ipsum dolor amet sausage turkey tongue, spare ribs swine drumstick fatback kielbasa ham pork picanha tri-tip bresaola filet mignon. Corned beef meatball alcatra sausage rump pork biltong boudin tongue porchetta brisket. Ground round ham hock venison turkey bresaola pork belly short ribs meatball pancetta landjaeger fatback strip steak. Strip steak pancetta cow chuck. Doner landjaeger strip steak rump fatback. Tenderloin flank pancetta, tri-tip meatball short loin frankfurter cow beef ribs pork loin drumstick prosciutto andouille shankle ham.</h3></br>
    </p>
</div>
</div>


  {{ partial "footer.html" . }}
  
 	
