@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);


body
{
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 28px;
  color:#2c3e50;
  background-color:white;
  width:100%;
 /* border-top:10px solid #f36d5b; */
}

h1,h2,h3,h4,h5,h6
{
  color:#2c3e50
}

h1
{
  font-weight:700;
  color:#6d7680
}

.jumbotron h1 {
	font-size: 38px;
	line-height: 46px;
	padding: 0 0 25px 0;
}

h2,h3
{
  font-weight:400;
}

h1 a,h2 a,h3 a,h4 a
{
  color:#428fe0
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
  color:#29598c
}

p
{
  font-weight:200;
  margin-bottom: 30px;
}

.posts
{
  margin-left: -40px;
  font-size:20px;
  list-style:none;
  font-weight:lighter;
  line-height:250%;
  padding-bottom:30px
}

.homepage-posts
{
  list-style:none
}

.container
{
  width:80%;
  padding-right:0;
  padding:10px 5px 5px 0;
}

.container a
{
  border-bottom:1px #ececec solid;
  text-decoration:none
}

#wrapper
{
  padding-left:250px;
  transition:all .5s ease 0
}

.navbar 
{
  display: none;
}

.navbar a 
{
  text-decoration: none;
  border-bottom: 0px #b1b1b1 solid;
}

#sidebar-wrapper
{
  margin-left:-250px;
  left:250px;
  width:250px;
  background:white;
  position:fixed;
  height:100%;
  overflow-y:auto;
  z-index:1000;
  margin-top:-10px;
 /* border-top:10px solid #f36d5b; */
  transition:all .4s ease 0;
  border-right:1px solid #e3e3e3;
}

hr {
	margin: 10px 0;
	clear: both;
}

.sidebar-nav
{
  position:absolute;
  top:0;
  width:250px;
  list-style:none;
  margin:0;
  padding:30px 0 0
}

.sidebar-nav li
{
  line-height:20px;
  text-indent:40px;
  letter-spacing: .5px;
  color: #333;
  font-weight: 350;
  font-size: 16px;
 
}

.sidebar-nav li a
{
  color:#333;
  display:block;
  text-decoration:none;

}

.sidebar-nav li a:hover
{
  color: red;
  
  text-decoration:underline;
  transition:color .6s ease 0;

}

.sidebar-nav li a:active,.sidebar-nav li a:focus
{
  text-decoration:none
}

.sidebar-nav > .sidebar-brand
{
  font-size:20px
}

.sidebar-nav > .sidebar-brand > h3
{
  font-size:15px;
  font-weight:100;
  color:#5d5f67
}

.nav-toggle {
    display: none;
    color: #f36d5b;
    padding-left: 10px;
    padding-top: 10px;
  }

.brand
{
  font-weight:800;
  color:#6c7077;
  font-size:1.4em;
  text-shadow:1px 1px #fff
}

.brand:hover
{
  color:#d90006;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s
}

.sidebar-nav > .sidebar-brand a
{
  color:#999
}

.sidebar-nav > .sidebar-brand a:hover
{
  color:#fff;
  background:none
}

.content-header
{
  height:65px;
  line-height:65px
}

.content-header h1
{
  line-height:65px;
  display:inline-block;
  margin:0 0 0 20px
}

blockquote
{
  border-left:2px solid #d90006;
  border-right:2px solid #d90006;
  margin-left:-40px;
  margin-right:-40px;
  padding-left:40px;
  background:#f3f3f7
}

ul,ol
{
  font-weight:lighter
}

pre
{
  background:#fff;
}

#social-wrapper
{
  color:#5c646f;
  padding:10px 0px 10px 55px;
}

#social-wrapper a.icon-social {
	opacity: 0.7;
	-webkit-opacity: 0.7;
	transform: all 0.3s ease-in;
	-webkit-transform: all 0.3s ease-in;
	width: 24px;
	height: 24px;
	display: block;
	background: none top left no-repeat;
	background-size: 24px 24px;
	float: left;
	padding: 5px 24px;
}

#social-wrapper a.icon-social.twitter {
	background-image: url(../images/icon-twitter.png);
}

#social-wrapper a.icon-social.github {
	background-image: url(../images/icon-github.png);
}

#social-wrapper a.icon-social.slack {
	background-image: url(../images/icon-slack.png);
}

#social-wrapper a.icon-social.rss {
	background-image: url(../images/icon-rss.png);
}

#social-wrapper a
{
  font-size:15px;
  text-indent:20px
}

#social-wrapper li
{
  font-size:15px;
  text-indent:0;
  word-spacing:10px
}

#social-wrapper a:hover
{
  color:#2d1e18;
  transition:all .3s ease 0
}

.showcase-wrapper
{
  width:100%;
  height:80vh;
  min-height:500px;
  margin-top:-50px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-size: cover;
  z-index:-4
}

.showcase-text
{
  font-size:3em;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20%
}

.wide
{
  width:100%;
  background-color:#fff;
  margin:0;
  padding:0 10% 30px
}

/** ARTICLE LIST **/

#article, #article-body {
  margin-top: 45px;
  padding-top: 30px;
  border-radius: 0px;
  background: white;
}


article {
  border-radius: 0px;
  border-bottom: 1px solid #ededed;
  padding-top: 20px;
  clear: both;
}

article #content-font {
  padding-bottom: 15px;
}

article p.lead {}

article p.lead a{
  font-size: 32px;
  border: 0;
}

article p.lead time {
  color: #bbb;
}

article:hover p.lead time {
  color: #aaa;
}

article div.post a.readmore {
  border: 0;
  font-size: 16px;
}

/** POST PAGE **/

.article-title {
  font-size:32px;
  font-weight:400;
  color:#428bca;
  padding:25px 0 10px;
  line-height: 36px;
}

#article-body {
  background: white;
  padding: 20px 40px 40px 0px;
}

#article-body h2, #article-body h3 {
  color: #555;
  font-size: 20px;
  padding: 10px 0 5px;
}

#article-body #content-font img {
  margin: 5px;
}

#article-body p.meta.author-info {
  margin-bottom: 20px;
}

/*END POST PAGE*/

#welcome-greeting
{
  width:100%;
  padding-top:5px
}

#welcome-greeting > h1
{
  font-size:3em;
  font-weight:700;
  color:#d90006;
  line-height:130%
}

#welcome-greeting h1:hover
{
  font-size:3em;
  font-weight:700;
  color:#2d4440;
  transition:all .5s ease 0
}

#welcome-greeting > h2
{
  font-size:2em;
  font-weight:100;
  color:#2e2e2e;
  padding-top:0;
  line-height:140%
}

#welcome-greeting h2 a
{
  font-weight:100;
  color:#d90006
}

.credit
{
  bottom:0;
  width:100%;
  font-size:.8em;
  text-shadow:1px 1px #fff;
  padding-left:20px;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:40px;
  z-index:1;
  color:#cdcdcd
}

.label-danger
{
  background-color:#697b7b;
  font-weight:400;
  border-radius:.2em;
  font-size:120%
}

.label-danger:hover
{
  background-color:#2d4440;
  transition:all .4s ease 0
}

.showcase-button
{
  border-radius:.5em;
  background-color:transparent;
  border:1px solid rgba(255,255,255,.4);
  color:rgba(255,255,255,.8);
  font-weight:200;
}

.showcase-button:hover
{
  border:1px solid rgba(255,255,255,1);
  color:rgba(255,255,255,1);
  background-color:transparent;
  transition:all .2s ease 0
}

.meta
{
  text-shadow:1px 1px #fff;
  color:#b6b6b6
  font-size:35px;
}

img
{
  max-width:100%;
}


.post
{
  padding-bottom:30px
}

#content-font 
{
  font-size: 18px;
}

.user-social
{
  color:#c4c4c4;
  margin-right:20px;
  text-decoration:none
}

.user-social a
{
  color:#c4c4c4;
  text-decoration:none;
  margin-right:20px
}

.blue-outline
{
  border:2px solid #d21c38
}

time
{
  color:#c9c9c9;
  font-weight:100;
  text-shadow:1px 1px #fff
 }

time2
{
  padding-top: 10px;
  color:#c9c9c9;
  font-size: 18px;
  font-weight:100;
  text-shadow:1px 1px #fff
 }

.pager li > a,.pager li > span
{
  font-size: 16px;
  border-radius:.5em
}

#self
{
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:10px;
  max-height:200px;
  margin:0;
  padding:10px
}

#disqus_thread
{
  margin-top:100px
}

.recent-posts
{
  background-color:#fff;
  color:#4d4d4d;
  box-shadow:1px 1px 0 1px #e8e8e8;
  margin:10px 10%;
  padding:10px 40px
}

.recent-posts h1
{
  padding-bottom:10px;
  font-size:1.6em
}

.project-container
{
  width:100%;
  height:170px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-image:url(http://lorempixel.com/900/200/);
  background-size: cover;
  z-index:-4;
  margin-top:-55px;
  margin-bottom:30px;
  color:#fff
}

.project-container h1
{
  font-size:3em;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20px
}

.project-container p
{
  font-weight:200;
  color:#fff;
  text-align:center;
  left-padding:20%
}

.project-box
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-box:hover
{
  background-color:#fff;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-title
{
  color:#000
}

.project-image
{
  position:relative;
  margin:0
}

.project-image hr
{
  margin-top:5px;
  margin-bottom:0;
  display:none
}

.project-post
{
  cursor:pointer
}

.project-post h4
{
  font-weight:200;
  font-size:1em
}

.user-card
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  max-width:800px;
  padding:10px 40px 0
}

.user-card h1
{
  font-weight:bolder;
  font-size:2.5em;
  line-height:55px;
  color:#d90006
}

.user-card p
{
  color:#c4c4c4;
  font-size:small
}

.card
{
  margin-left:-40px;
  margin-top:-10px
}

.letter p
{
  font-size:1.2em;
  font-weight:lighter;
  color:#737373;
  text-shadow:1px 1px #fff
}

.fashion
{
  border-left:solid 2px #bc0005
}

.fashion-button
{
  background-color:#bc0005
}

.fashion:hover
{
  border-left:solid 2px #f40006
}

.fashion-button:hover
{
  background-color:#f40006
}

.programming
{
  border-left:solid 2px #7dbcb2
}

.programming-button
{
  background-color:#7dbcb2
}

.programming:hover
{
  border-left:solid 2px #bbe9e2
}

.programming-button:hover
{
  background-color:#bbe9e2
}

.tech
{
  border-left:solid 2px #644539
}

.tech-button
{
  background-color:#644539
}

.tech:hover
{
  border-left:solid 2px #F4A273
}

.tech-button:hover
{
  background-color:#F4A273
}

.misc
{
  border-left:solid 2px #9e9599
}

.misc-button
{
  background-color:#9e9599
}

.misc:hover
{
  border-left:solid 2px #cfe0ea
}

.misc-button:hover
{
  background-color:#cfe0ea
}

.podcasts
{
  border-left:solid 2px #387b94
}

.podcasts-button
{
  background-color:#387b94
}

.podcasts:hover
{
  border-left:solid 2px #2FD0EF
}

.podcasts-button:hover
{
  background-color:#2FD0EF
}

#menu-toggle,.project-post div
{
  display:none
}

#article h1,#article h2,#article h3
{
  color:#3a3a3a
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
  padding-top: 20px;
}

#sidebar-wrapper {
    border-top: none;
    left: 0px;
}
 .nav-toggle {
    display: ;
  }
#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.7s ease 0s;
}


.inset {
  padding: 15px;
}
.navbar 
{
  display: inherit;
  background-color: #fff;
  margin-top: -20px;
}

.container
{
  width:80%;
  padding-right:0;
  padding:10px 5px 5px 0;
}

#article, #article-body {
  padding: 30px 50px 10px 70px;
  margin: -30px -50px 0px -74px;
  border-radius: 0px;
  background: white;
}

}

@media screen and (max-width: 400px) {

  

  #welcome-greeting h2 {
   font-size: 15px; 
   transition: all 0.2s ease 0s;
   font-weight: 200;
   line-height: 30px;

  }
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 10px 15px 15px 15px;
  }

  #article {
      padding: 0 10px 0 10px;
  }




.showcase-wrapper {
  width: 100%;
  height: 50%;
  font-size: small;
}

}


.post_search{
 padding:0 10px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.scrollup {
    width:70px;
    height: 84px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url('../Images/scollrocket.png') no-repeat;
  
}
 
 .newCredit{
 	margin-top: 60px;
 	display: block;
 }
 .newCredit p {
 	 font-size: 11px;
 	 text-align: center; 	
 }
 .newCredit p a {
 	 color:#666;
 	 	
 }
 .newCredit p span {
 	 font-size: 12px;
 	 color:#ef6133;
 	 	
 }
 
#series-meta {
  font-size: 16px;
}

.series {
  font-size: 16px;
}

#dat {
  margin-top: -10px;
  font-size: 14px;
}

.readmore {
  margin-top: -200px;
}

.well {
  border: none;
}

mark {
    background-color: #ececec;
    color: black;
    padding-left: 3px;
    padding-right: 1px;
}

.well {
  box-shadow: none;
}

.smallmenu {
  font-size: 16px;
}