.navbar-default a:hover {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default {
    background-color: #f36d5b;

}

.navbar-brand  {
    color: red;
    font-size: 38px;
    font-family: 'Grand Hotel', cursive;
}